!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "João Carvalho", :name => "author"}/
    %title João Carvalho

    / Custom Fonts
    %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}/

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body#page-top.index
    / Navigation
    %nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            Menu
            %i.fa.fa-bars
          %a.navbar-brand.page-scroll{:href => "#page-top"} João Carvalho
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "#page-top"}
            %li
              %a.page-scroll{:href => "#services"} Serviços
            -#%li
              %a.page-scroll{:href => "#portfolio"} Portfolio
            %li
              %a.page-scroll{:href => "#about"} Sobre
            -#%li
              %a.page-scroll{:href => "#contact"} Contato
        / /.navbar-collapse
      / /.container-fluid
    / Header
    %header
      .container
        .intro-text
          .intro-lead-in João Carvalho - Desenvolvedor Freelancer
          .intro-heading O que seu negócio precisar
          %a.page-scroll.btn.btn-xl{:href => "#services"} Saiba mais
    / Services Section
    %section#services.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Serviços
            %h3.section-subheading.text-muted Conheça os serviços que posso oferecer para o seu negócio.
        .row.text-center
          .col-md-6
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-line-chart.fa-stack-1x.fa-inverse
            %h4.service-heading Sites
            %p.text-muted Site para divulgação de negócio ( Landing Page, contato pela web, divulgação online).
          .col-md-6
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-cogs.fa-stack-1x.fa-inverse
            %h4.service-heading Sistemas Web
            %p.text-muted Sistemas de gerenciamento para seu negócio ( Automatização de processos, gerenciamento de estoque, gerenciamento de recursos).
          -# .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-lock.fa-stack-1x.fa-inverse
            %h4.service-heading Web Security
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    / Portfolio Grid Section
    -#%section#portfolio.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Portfolio
            %h3.section-subheading.text-muted Projetos realizados para referências.
        .row
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "images/portfolio/roundicons.png"}
              -# = image_tag("images/portfolio/roundicons.png", class: "img-responsive")
            .portfolio-caption
              %h4 Round Icons
              %p.text-muted Graphic Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "images/portfolio/startup-framework.png"}/
            .portfolio-caption
              %h4 Startup Framework
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "images/portfolio/treehouse.png"}/
            .portfolio-caption
              %h4 Treehouse
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "images/portfolio/golden.png"}/
            .portfolio-caption
              %h4 Golden
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "images/portfolio/escape.png"}/
            .portfolio-caption
              %h4 Escape
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "images/portfolio/dreams.png"}/
            .portfolio-caption
              %h4 Dreams
              %p.text-muted Website Design
    / About Section
    %section#about
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Sobre minha trajetória
            %h3.section-subheading.text-muted Conheça minha história como profissional
        .row
          .col-lg-12
            %ul.timeline
              %li
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "images/about/1.jpg"}/
                .timeline-panel
                  .timeline-heading
                    %h4 2012-2017
                    %h4.subheading Começo da Formação Acadêmica
                  .timeline-body
                    %p.text-muted
                      Formação acadêmica em Ciência da Computação pela UFRJ. Considerada por muitos a melhor faculdade
                      na graduação de computação. Participação em Pesquisa de Computação Gráfica, Aprendizado de Máquina
                      e visão computacional.
              %li.timeline-inverted
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "images/about/2.jpg"}/
                .timeline-panel
                  .timeline-heading
                    %h4 2013 - 2014
                    %h4.subheading EJCM - Empresa Jr.
                  .timeline-body
                    %p.text-muted
                      Participação na Empresa Junior EJCM como assessor de Projetos e Desenvolvedor Web.
                      Aplicação de gerencia de projetos e métodos ágeis como Scrum e Kanban.
                      Desenvolvimento de projetos web utilizando PHP, Laravel, HTML, CSS e JS.

              %li
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "images/about/3.jpg"}/
                .timeline-panel
                  .timeline-heading
                    %h4 2014 - 2015
                    %h4.subheading Trabalho como Freelancer
                  .timeline-body
                    %p.text-muted
                      Desenvolvimento de múltiplos projetos como freelancer após saída da empresa junior.
                      Experiência em lidar com clientes e atender necessidades de negócios.

              %li.timeline-inverted
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "images/about/4.jpg"}/
                .timeline-panel
                  .timeline-heading
                    %h4 2015 - 2017
                    %h4.subheading Intercâmbio para Irlanda
                  .timeline-body
                    %p.text-muted
                      Intercâmbio para a Irlanda pelo Ciência Sem Fronteira me deu proficiência no inglês
                      e experiência em lidar com culturas diferentes.
              %li
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "images/about/2.jpg"}/
                .timeline-panel
                  .timeline-heading
                    %h4 2015 - 2017
                    %h4.subheading Volta ao Brasil e Estágio no famoso site Tudo Gostoso
                  .timeline-body
                    %p.text-muted
                      Intercâmbio para a Irlanda pelo Ciência Sem Fronteira me deu proficiência no inglês
                      e experiência em lidar com culturas diferentes.
              %li.timeline-inverted
                .timeline-image
                  %h4
                    Faça parte
                    = succeed "Da minha" do
                      %br/
                    = succeed "história!" do
                      %br/
    / Team Section
    -# %section#team.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Our Amazing Team
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "images/team/1.jpg"}/
              %h4 Kay Garland
              %p.text-muted Lead Designer
              %ul.list-inline.social-buttons
                %li
                  %a{:href => "#"}
                    %i.fa.fa-twitter
                %li
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                %li
                  %a{:href => "#"}
                    %i.fa.fa-linkedin
          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "images/team/2.jpg"}/
              %h4 Larry Parker
              %p.text-muted Lead Marketer
              %ul.list-inline.social-buttons
                %li
                  %a{:href => "#"}
                    %i.fa.fa-twitter
                %li
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                %li
                  %a{:href => "#"}
                    %i.fa.fa-linkedin
          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "images/team/3.jpg"}/
              %h4 Diana Pertersen
              %p.text-muted Lead Developer
              %ul.list-inline.social-buttons
                %li
                  %a{:href => "#"}
                    %i.fa.fa-twitter
                %li
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                %li
                  %a{:href => "#"}
                    %i.fa.fa-linkedin
        .row
          .col-lg-8.col-lg-offset-2.text-center
            %p.large.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
    / Clients Aside
    -# %aside.clients
      .container
        .row
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "images/logos/envato.jpg"}/
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "images/logos/designmodo.jpg"}/
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "images/logos/themeforest.jpg"}/
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "images/logos/creative-market.jpg"}/
    / Contact Section
    -#%section#contact
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Contato
            %h3.section-subheading.text-muted Entre em contato para fazer um orçamento.
        .row
          .col-lg-12
            %form#contactForm{:name => "sentMessage", :novalidate => ""}
              .row
                .col-md-6
                  .form-group
                    %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Nome *", :required => "", :type => "text"}/
                    %p.help-block.text-danger
                  .form-group
                    %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Email *", :required => "", :type => "email"}/
                    %p.help-block.text-danger
                  .form-group
                    %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Telefone", :required => "", :type => "tel"}/
                    %p.help-block.text-danger
                .col-md-6
                  .form-group
                    %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Deixe aqui sua mensagem*", :required => ""}
                    %p.help-block.text-danger
                .clearfix
                .col-lg-12.text-center
                  #success
                  %button.btn.btn-xl{:type => "submit"} Enviar mensagem
    %footer.bg-light-gray
      .container
        .row
          .col-md-4
            %span.copyright Copyright © João Carvalho 2017
          .col-md-4
            %ul.list-inline.social-buttons
              -# %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              -# %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "https://www.linkedin.com/in/joaovec/"}
                  %i.fa.fa-linkedin
          -# .col-md-4
          -#   %ul.list-inline.quicklinks
          -#     %li
          -#       %a{:href => "#"} Privacy Policy
          -#     %li
          -#       %a{:href => "#"} Terms of Use
    / Portfolio Modals
    / Use the modals below to showcase details about your portfolio projects!
    / Portfolio Modal 1
    #portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .close-modal{"data-dismiss" => "modal"}
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body
                  / Project Details Go Here
                  %h2 Project Name
                  %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  %img.img-responsive.img-centered{:alt => "", :src => "images/portfolio/roundicons-free.png"}/
                  %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  %p
                    %strong> Want these icons in this portfolio item sample?
                    You can download 60 of them for free, courtesy of
                    = succeed "," do
                      %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} RoundIcons.com
                    = succeed "." do
                      %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} here
                  %ul.list-inline
                    %li Date: July 2014
                    %li Client: Round Icons
                    %li Category: Graphic Design
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 2
    #portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .close-modal{"data-dismiss" => "modal"}
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body
                  %h2 Project Heading
                  %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  %img.img-responsive.img-centered{:alt => "", :src => "images/portfolio/startup-framework-preview.png"}/
                  %p
                    %a{:href => "http://designmodo.com/startup/?u=787"} Startup Framework
                    is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
                  %p
                    You can preview Startup Framework
                    = succeed "." do
                      %a{:href => "http://designmodo.com/startup/?u=787"} here
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 3
    #portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .close-modal{"data-dismiss" => "modal"}
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body
                  / Project Details Go Here
                  %h2 Project Name
                  %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  %img.img-responsive.img-centered{:alt => "", :src => "images/portfolio/treehouse-preview.png"}/
                  %p
                    Treehouse is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 4
    #portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .close-modal{"data-dismiss" => "modal"}
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body
                  / Project Details Go Here
                  %h2 Project Name
                  %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  %img.img-responsive.img-centered{:alt => "", :src => "images/portfolio/golden-preview.png"}/
                  %p
                    Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/golden-free-one-page-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 5
    #portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .close-modal{"data-dismiss" => "modal"}
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body
                  / Project Details Go Here
                  %h2 Project Name
                  %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  %img.img-responsive.img-centered{:alt => "", :src => "images/portfolio/escape-preview.png"}/
                  %p
                    Escape is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 6
    #portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .close-modal{"data-dismiss" => "modal"}
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body
                  / Project Details Go Here
                  %h2 Project Name
                  %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  %img.img-responsive.img-centered{:alt => "", :src => "images/portfolio/dreams-preview.png"}/
                  %p
                    Dreams is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :integrity => "sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
